.options{
  margin-bottom: 73px;
  &__wrapper{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    &_img{
      margin-right: 16px;
    }
    &_title{
      color: $main-black;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
    }
    &_subtitle{
      font-size: 14px;
      line-height: 26px;
      color: rgba(81, 81, 81, 0.71);
    }
  }
}