@media (max-width: 887px){
  .search input {
    overflow-y: scroll;
    min-width: 433px;
  }
}
@media (max-width: 887px){
  .search input {
    min-width: 351px;
  }
}
@media (max-width: 648px){
  .search__list_menu-block{
    display: none;
  }
}